.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body{
  margin-top: 30px;
}

.Navbar{
  justify-content: space-evenly;
  display: flex;
  color: white;
  position: fixed;
  width: 100%;
  transition: background 0.3s;
  z-index: 1000;
  padding-top: 20px;
}

.Navbar.scrolled {
  background: #333;
  padding-top: 20px;
}


.nav-icons ul{
  display: flex;
  text-decoration: none;
}

.nav-icons ul li{
  list-style-type: none;
  margin-left: 40px;
  cursor: pointer;

}

.portfolio{
  margin-top: 0px;
  cursor: pointer;
}

.Photocard{
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  margin-top: 100px;
}

.photo{
  height: 250px;
  width: 250px;
  border-radius: 200px;
  align-items: center;
  border-style: groove;
  border-color: white;
}

.intro{
  position: relative;
  display: grid;
  text-align: center;
}

.buttons{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.cvButton{
  margin-right: 20px;
  font-size: 16px;
  padding: 10px 20px;
}

.hireButton {
  font-size: 16px;
  padding: 10px 20px;
}


.AboutContainer {
  display: flex;
  justify-content: space-evenly;
  width: 1300px;
  margin: auto; 
  margin-top: 80px ;
  border: 1px solid #ccc; 
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1); 
}

.head {
  width: 500px;
  font-family: "Montserrat", "Helvetica Neue";
  font-size: 14px;
}

.head h3{
  font-size: 1.714em;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.bio{
  font-family: "Montserrat", "Helvetica Neue";
  font-size: 14px;
}


.bio h3{
  font-size: 1.714em;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.bioInfo{
  width: 450px;
}
.email{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  text-align: left;
}

.address{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  text-align: left;
}

.nationality{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.nation{
  margin-left: 45px;
}


.languages{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  text-align: left;
}

.lang{
  margin-left: 50px;
}

.competencies{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  text-align: left;
}


.comp{
  margin-left: 65px;
}

.sentence-space {
  margin-top: 18px; 
}

.NavbarContainer {
  background-image: url('/home/kiarie/Development/Code/portfolio/src/Images/background.jpg');
  background-size: 100%; 
  background-position: center; 
  height: 60vh; 
}


.share{
  margin-top: 35px;
}


.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
}


.icons a {
  color: rgb(0, 123, 255);
}

.name{
  color: white;
  margin-bottom: 0px;
}
.info{
  margin-top: 0px;
  color: white;
}

.container{
  margin-top: 80px;
  font-family: "Montserrat", "Helvetica Neue";
  font-size: 14px;
  border-radius: 0px;
}

